body{
    background-image: url("arkaplan.avif");


}


@keyframes color-change {
    0% {
      color: rgb(208, 255, 0);
    }
  
    45% {
      color: rgb(9, 255, 0);
    }
  
    100% {
      color: rgb(208, 255, 0);
    }
}

h1 {
    animation: color-change 3s infinite;
}

p{
    color: aquamarine;
}
   

li{
    color:aquamarine
}

@keyframes color-change {
    0% {
      color: rgb(208, 255, 0);
    }
  
    45% {
      color: rgb(0, 255, 0);
    }
  
    100% {
      color: rgb(208, 255, 0);
    }
}

 h2{
    animation: color-change 3s infinite;
}















